/*
Created on 15-5-29 by panwen
开通反馈通弹出窗
*/
/*div h3 p{margin:0;padding:0;}*/
.feedbackBox{width:398px;height:276px;position: fixed;_position:absolute;top:50%;left:50%;margin:-145px 0 0 -235px;background:#fff;z-index: 9999;font-family: "微软雅黑";overflow: hidden;border:1px solid #0094d6;}
.fullBg{background:#fff;width:100%;position: absolute;top:0;left:0;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;z-index: 9900;}
.feedbackBox h3{width:398px;height:90px;text-align: center;line-height: 98px;color:#000;font-size: 24px;font-weight: normal;font-family: "黑体";}
.feeMain{width:438px;height:86px;margin-top: -17px;padding-left: 32px;}
.feeCole{width:60px;height:18px;float:left;padding-top: 42px;margin-right: 26px;background:url(http://img01.zpin.net.cn/2014/c/img/feedback/popupIcon.jpg) no-repeat 9px 0;font-size: 14px;font-family: "宋体"}
.feeLast{width:398px;height:100px;}
.feeLast a{display: block;width:280px;height:40px;text-align: center;line-height: 40px;font-size: 16px;color: #fff;text-decoration: none;margin:0 auto;background:#0094d6;border-radius: 5px;font-family: "微软雅黑";margin-bottom:30px;}
.feeLast span{display: block;width:280px;font-size: 14px;color:#c4c4c4;cursor: pointer;text-align: center;margin:0 auto;font-family: "宋体"}
.feeLast span:hover{text-decoration: underline;}
.addP{height:64px;text-align: center;color: #c4c4c4;font-size: 14px;font-family: "微软雅黑";padding:0;margin:0;}