#globalHeader a {
	text-decoration: none;
}
#globalHeader, #globalHeader .site-logo, #globalHeader .nav-bar li, #globalHeader .nav-bar .l, #globalHeader .nav-bar .r, #globalHeader .nav-bar em:hover a, #globalHeader .nav-bar .mycurrent a {
	background-image: url(http://img00.zhaopin.com/new2011/head/images/spri.gif);
}
#globalHeader {
	height: 63px;
	background-position: 0 -111px;
	background-repeat: repeat-x;
	font-family: simsun;
}
#globalHeader .hd-wrapper {
	width: 990px;
	margin: 0 auto;
	position: relative;
	z-index: 12;
}
#globalHeader .site-logo, #globalHeader .mobile-page, #globalHeader .hotline, #globalHeader .choosecity, #globalHeader .companyregin {
	position: absolute;
	color: #155fc9;
	font-size: 12px;
	text-decoration: none;
	line-height: 25px;
	top: 0px;
}
#globalHeader .mobile-page, #globalHeader .hotline, #globalHeader .choosecity, #globalHeader .regin, #globalHeader .companyregin {
	background: url(http://img01.zhaopin.cn/new2011/head/images/headerbg0719.png) left center no-repeat;
	padding-left: 10px;
}

#globalHeader .companyregin {
	right: 410px;
	color: #e56100;
	font-weight: bold;
}

#globalHeader .site-logo,#globalHeader .mobile-page,#globalHeader .hotline,#globalHeader .choosecity,#globalHeader .regin,#globalHeader .companyregin,#globalHeader #companyLoginregin,#globalHeader #companyLogining{position:absolute;color:#155fc9;font-size:12px;text-decoration:none;line-height:25px;top:5px;}
#globalHeader .site-logo {
	width: 175px;
	height: 56px;
	top: 0;
	left: 30px;
}
#globalHeader #companyLoginregin,#globalHeader #companyLogining{right:0px;width:125px;height:30px;overflow:hidden;background:url(http://my.zhaopin.com/images/new_v4/newloginicon8.png) no-repeat;}
#globalHeader #companyLoginregin{display:block; text-align:left;}
#globalHeader #companyLogining{display:none;}
#globalHeader #companyLoginregin a,#globalHeader #companyLogining a{color:#aa4106;font-size:12px;text-decoration:none;margin-left:8px;}
#globalHeader #companyLoginregin #person-service{margin-right:8px;}
#globalHeader #personname{display:block;position:absolute;left:0;top:0;width:65px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:25px;text-align:center}
#globalHeader #personname{color:#aa4106;}
#globalHeader #companyLogining  #personcheckout{position:absolute;right:17px;top:0;}
#globalHeader .regin{background:none;padding:0;}
#globalHeader .hotline {
	right: 273px;
	color: #848484;
	background: none;
	padding: 0;
}
#globalHeader .choosecity {
	right: 204px;
}
#globalHeader .mobile-page {
	right: 135px
}


#globalHeader .nav-bar {
	position: absolute;
	right: 0;
	top: 37px;
	font-size: 14px;
}
#globalHeader .nav-bar li {
	float: left;
	height: 26px;
	background-position: 154px -177px;
	overflow: hidden;
	width: 85px
}
#globalHeader .nav-bar li.minwidth {
	width: 60px
}
#globalHeader .nav-bar em {
	display: block;
	margin-top: 2px;
}
#globalHeader .nav-bar em a, #globalHeader .nav-bar em span {
	float: left;
	height: 25px;
}
#globalHeader .nav-bar .nav-first {
	background-position: 0 -175px;
	width: 3px;
}
#globalHeader .nav-bar .nav-last {
	background-position: -155px -175px;
	width: 3px;
}
#globalHeader .nav-bar a {
	padding: 0 9px;
	color: white;
	text-decoration: none;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
}
#globalHeader .nav-bar a:hover {
	color: #d7e6fc;
}
#globalHeader .nav-bar .l, #globalHeader .nav-bar .r {
	width: 3px;
	background-position: 154px -179px;
}
#globalHeader .nav-bar .mycurrent a, #globalHeader .nav-bar .mycurrent a:hover, #globalHeader .nav-bar .mycurrent em:hover a {
	background-position: -4px -203px;
	color: #06c;
}
#globalHeader .nav-bar .mycurrent .l, #globalHeader .nav-bar .mycurrent em:hover .l {
	background-position: 0 -203px;
}
#globalHeader .nav-bar .mycurrent .r, #globalHeader .nav-bar .mycurrent em:hover .r {
	background-position: -155px -203px;
}
#globalHeader .nav-bar em:hover .l {
	background-position: 0px -306px;
}
#globalHeader .nav-bar em:hover .r {
	background-position: -155px -306px;
}
#globalHeader .nav-bar em:hover a {
	background-position: -4px -306px;
}
#globalHeader a.citymap {
	background: url(http://img03.zhaopin.cn/new2011/head/images/gnav960.gif) no-repeat;
	width: 75px;
	height: 20px;
	display: block;
	margin: 4px 5px 0 5px;
	text-indent: -999em;
	padding: 0;
	overflow: hidden;
}
#globalHeader .citymap:hover {
	background-position: 0 -21px;
}
#globalHeader .cityname {
	left: 250px;
	width: 250px;
	position: absolute;
	top: 6px;
	font-size: 12px;
	text-align: left;
}
#globalHeader .cityname h3 {
	font: 20px Simhei;
	color: #333;
	display: inline;
}
#globalHeader .grayline {
	color: #cfcfcf;
}
#globalHeader #loginNwid{position:absolute;top:35px;right:44px;border:1px solid #bdbdbd;background-color:#a6cbff;width:228px;border-radius:3px;display:none;z-index:12;}
#globalHeader #loginNwid form{margin:0;}
#loginNwid h2{height:34px;line-height:34px;color:#0057cf;text-align:center;font-weight:bold;font-size:14px;background:url(http://img01.zhaopin.cn/new2011/head/images/headerbg0721.png) left top repeat-x;margin:0;}
#loginNwid h2 #loginNcolse{position:absolute;top:5px;right:5px;display:block;width:16px;height:16px;}
#loginNwid .loginNForm{margin:0 2px 2px 2px;background-color:#fff;padding:20px 10px 10px 10px;font-size:12px;}
#loginNwid .loginNForm a{color:#155FC9;text-decoration:none;}
#loginNwid .loginNFormInput{height:25px;line-height:25px;width:195px;border-width:1px;border-style:solid;border-color:#c3c3c3 #e8e8e8 #e8e8e8 #c3c3c3;background-color:#f1f1f1;margin:0 0 0px 0;padding-left:5px;color:#666;vertical-align:top;}
#loginNwid .loginNFormBtn{background:url(http://img01.zhaopin.cn/new2011/head/images/btn0722.png) no-repeat;width:70px;height:28px;border:0;cursor:pointer;vertical-align:middle;}
#hrimg{vertical-align:top;}
#loginNwid .loginNformcb{vertical-align:-3px;}
#loginNwid .validCode{width:75px;margin-right:2px;}
#passwordtxt{width:195px;height:25px;line-height:25px;color:#666666;position:absolute;left:18px;top:105px;font-size:12px;cursor:text; text-align:left;}
#loginNwid .errorstyle{background: url(http://myimg.zhaopin.com/images/register/MsgError.gif) no-repeat scroll 4px 2px #FFF3EF;border: 1px solid #FF6610;color: #333333;line-height: 22px;margin-bottom:4px;padding: 0 0 0 24px;width: 173px;display:none;}
#loginNwid .errorbox{padding:10px 0;_height:1px;}
#loginNwid #yanzm a{position:relative;display:inline-block;padding-right:40px;}
#loginNwid #yanzm a span{position:absolute;right:0;top:6px;}
#globalHeader .nav-bar .blankwhite{width:6px}
#globalHeader .backnone{ background:none;}
